<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>meowery - homepage</title>

    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="titlebar">meowery</div>

    <main>
      <h1 id="emoticon-h1">o(&gt;ω&lt;)o</h1>
      <img
        src="../assets/placeholder-cat-image.png"
        alt="cute cat - perhaps failed to load image"
        id="cat-img"
      />

      <div>
        <button type="button" id="new-cat-button">new cat</button>
        <span id="warning-span">slow down! >:( 10</span>
      </div>
    </main>

    <a href="../templates/settings.html" id="settings-switch">^w^</a>

    <audio src="../assets/meow.ogg" id="meow-audio"></audio>

    <script src="../scripts/random.js"></script>
    <script src="../scripts/components.js"></script>
    <script src="../scripts/home.js"></script>
  </body>
</html>
